@import "bourbon/bourbon"

// brand colors
$orange: #E7622E
$blue: #16AACE
$gold: #F2CD74
$cream: #EEF2DC
$dark-blue: #135A6E
$green: #80CCB9
$grey: #a8a8a8

$muted-cream: #F0EDE8

$light-grey: #D1D1D1


// overlady colors
$dark-orange: #B8471B
//$darker-orange : darken($dark-orange, 4%)
$darker-blue: #1298B9
$dark-gold: #B89D5C
$blue-black: #0A3E4C
$dark-cream: #D2D6BE
$darker-cream: darken($dark-cream, 16%)
//$darker-green: #477F6F
//$darker-green: lighten(#477F6F , 4%)
$dark-green: #64A393

// other
$medium-cream: #C4C7B7
$medium-gold: #D1AE60

// Canada
$light-red: #CA443F
$red: #A23532
$dark-red: #851E1B

$border-color: darken(#E9EDD7, 8%)
@mixin adelle
  font-family: "Adelle", "Lucida Grande", serif

@mixin proxima
  font-family: "proxima-nova", Helvetica, Arial, sans-serif

$dark-cream: #A0A48B
body
  +adelle
  background-color: $cream
  color: $dark-cream
  font-size: 24px

  a
    color: $blue
    text-decoration: none
    &:hover, &:hover:visited
      color: $orange
    &:visited
      color: $blue

h2, h2, h4
  +proxima
  font-weight: 700
  text-transform: uppercase

h2
  font-size: 26px
h1
  font-size: 32px
  margin-top: 12px
  color: $orange
  +adelle
  text-transform: none
  font-weight: 500
  //+adelle
  //font-weight: 100
  //color: $dark-green

// index
.index-title
  font-size: 36px

.index-title-con
  margin-bottom: 30px

.post-content
  padding-left: 20px

#post, .post
  p
    font-size: 22px
    line-height: 30px
    font-weight: 300
    //a
      font-style: italic 
      font-weight: 500
      color: $dark-blue
      &:hover
        color: $orange
      &:visited
        color: $dark-orange

  a.index-title, a.index-title h1
    &:hover, &:visited
      color: $dark-orange  

.post-header, .post-footer
  position: relative
  left: -7px
  padding-left: 20px
  padding-right: 20px

.post-footer
  padding-top: 20px
  margin-top: 30px
  border-top: 1px solid $border-color
  font-style: italic
  display: block
  font-weight: 300
  font-size: 18px
  padding-left: 27px
  padding-bottom: 60px

.post-header
  border-bottom: 1px solid $border-color

.post.landing
  .post-header
    border: 0
    padding-left: 27px

.bottom-spacer
  border-bottom: 1px solid $border-color
  position: relative
  left: -7px
  width: 100%
  height: 1px
  margin-top: 50px
  margin-bottom: 20px




.post-date
  margin-bottom: -12px
  text-align: center
  font-size: 14px
  text-align: left
  padding-right: 10px
  color: $dark-cream
  padding-left: 20px
  +proxima
  font-weight: 700 
  letter-spacing: 0.85em
  text-transform: uppercase

.post-signature
  display: block
  margin-top: 24px
  color: $dark-orange

.top
  margin: 0 auto
  width: 650px
  text-align: center
  margin-bottom: 10px
  margin-top: 30px

.post-date 

.clear
  clear: both

$sidebar-width: 375px
.new-sidebar
  width: $sidebar-width
  border-right: 1px solid $border-color
  height: 100%
  min-height: 100%
  position: fixed
  left: 0
  top: 0
  padding-right: 0
  margin-right: 0
  .logo-con
    text-align: center
    margin-top: 20px
    .logo:hover
      opacity: 0.5
  .signup
    text-align: center
    padding: 18px 0
  a.apply
    text-decoration: none
    background-color: $dark-blue
    color: $cream
    +proxima
    border-radius: 2px
    //transition(0.2s all ease-out)
    text-transform: uppercase
    font-size: 16px
    font-weight: 700
    padding: 12px 20px
    letter-spacing: 0.1em
    &:visited
      color: $cream
    &:hover
      color: $blue

  a.hiring-link
    color: $orange
    color: $blue
    text-decoration: none
    &:hover
      color: $dark-orange
      color: $dark-blue
  .made
    border-top: 1px solid $border-color
    margin-top: 10px
    padding-top: 20px
    color: darken($dark-cream, 7%)
    //font-style: italic
  .groupergrams
    margin-top: 20px
    padding-top: 10px
    margin-left: 6px
    //border-top: 1px solid lighten($dark-cream, 7%)
    .groupergrams-header
      color: darken($dark-cream, 7%)
      font-style: italic
  .hiring-con
    text-align: center
    margin-top: 20px
  .gg-container
    $img-size: 135px
    width: $img-size + 16px
    height: $img-size + 16px
    display: inline-block
    position: relative
    background-color: #C0C4AF
    border-radius: 4px
    margin-top: 16px
    text-align: center
    &:hover
      .gg-mask
        opacity: 0.4
    &.right 
      margin-right: 16px
    .gg-mask
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background-color: #C0C4AF
      border-radius: 4px
      z-index: 10
    img.small-gg
      height: $img-size
      width: $img-size
      position: absolute
      left: 8px
      top: 8px
      z-index: 1
      background-color: $dark-cream

  .sidebar-content
    padding: 20px
    text-align: left
  .description
    margin: 0 auto
    margin-bottom: 20px
    color: $blue
    margin-top: 20px
    text-align: center
    font-size: 16px


$section-padding: 50px
.sidebar
  height: 100%
  position: relative
  width: 30%
  // min-width: 300px
  display: inline-block
  padding-left: $section-padding
  padding-right: $section-padding



  .bio-wrap
    $portrait-height: 300px
    position: absolute
    width: 100%
    left: 0
    top: 50%
    text-align: center
    .bio
      position: relative
      top: 100px
      .portrait
        border-radius: $portrait-height/2
        overflow: hidden
        display: inline-block
        height: $portrait-height
        width: $portrait-height
        img
          height: $portrait-height
          width: $portrait-height

    .bio-text
      position: absolute
      width: 100%
      top: $portrait-height + 20px
      .bio-name
        font-size: 30px

.content-container
  width: 650px
  margin-left: $sidebar-width
  height: 100%
  min-height: 100%
  margin-top: 40px
.content
  // margin-top: 20px
  // width: 50%
  // display: inline-block
  // float: left

  padding-left: $section-padding
  padding-right: $section-padding