---
layout: default
title: Grouper Blog
---

<div class="new-sidebar">
  <div class="sidebar-content">
    <div class="logo-con">
      <a class="logo" href="https://www.joingrouper.com/?ref=blog">
        <img src="http://grouper-reef.s3.amazonaws.com/images/landing/logo.png" height=60/>
      </a>
    </div>
    <div class="description">
      We're a social club that sets up drinks between 2 groups of friends: 3 guys & 3 girls. 
    </div>
    <div class="signup">
      <a class="apply" href="https://www.joingrouper.com">Apply for Membership</a>
    </div>

    <div class="hiring-con">
      <a href="https://www.joingrouper.com/jobs?ref=blog">
        <img src="http://grouper-reef.s3.amazonaws.com/images/blog/IconWeAreHiring%402x.png" alt="We're hiring" width=217 height=197/>
      </a>
    </div>

    <div class="groupergrams">
      <a href="https://www.joingrouper.com">
        <div class="gg-container right">
          <div class="gg-mask">
          <div class="gg-inner">
            <img class="small-gg" height=110 width=110 src="https://groupergram-photos.s3.amazonaws.com/325786388632658915_6401751"


/></a>
          </div>
          </div>
        </div>

      <a href="https://www.joingrouper.com">
        <div class="gg-container">
          <div class="gg-mask">
          <div class="gg-inner">
            <img class="small-gg" height=110 width=110 src="https://groupergram-photos.s3.amazonaws.com/341977050371953159_14129195"


/></a>
          </div>
          </div>
        </div>

      <a href="https://www.joingrouper.com">
        <div class="gg-container right">
          <div class="gg-mask">
          <div class="gg-inner">
            <img class="small-gg" height=110 width=110 src="https://groupergram-photos.s3.amazonaws.com/340934816516248003_24375227"


/></a>
          </div>
          </div>
        </div>

      <a href="https://www.joingrouper.com">
        <div class="gg-container">
          <div class="gg-mask">
          <div class="gg-inner">
            <img class="small-gg" height=110 width=110 src="https://groupergram-photos.s3.amazonaws.com/339459346939968894_30275702"


/></a>
          </div>
          </div>
        </div>


    </div>
  </div>
</div>

<div class="content-container"
  <section class="content">

    {% for post in site.posts %}

      <div class="post landing">
      <div class="post-header">
        <a class="index-title" href="{{post.url}}">
          <h1>{{ post.title }}</h1>
        </a>
      </div>

      <div class="post-content">
        {{ post.content }}
      </div>

<!--       <div class="post-date">
        {{ post.day }} · {{ post.place }}
      </div> -->
      <div class="bottom-spacer"></div>
    </div>
    {% endfor %}
  </section>
</div>

<!--       <div class="index-title-con">
        <a class="index-title" href="{{post.url}}">
          {{ post.title }}
        </a>
      </div> -->


<!---
<nav class="nav">
  <a class="home" href="/" title="Home"></a>
</nav>

<section class="main" role="main">
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <article>
          <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
        </article>
      </li>
    {% endfor %}
  </ul>
</section>
-->