---
layout: default
---

<nav class="sidebar">

  <div class="bio-wrap">
    <div class="bio"
      <a href='/'>
        <div class="portrait">
          <img src="/images/trex.png"</img>
        </div>
      </a>

      <div class="bio-text">
        <div class="bio-name">
          Trex from Grouper
        </div>
        <div class="bio-subtitle">
          Enthusiast
        </div>
      </div>
    </div>

  </div>
</nav>

<section class="content">

  <article id="post">
    {{ content }}
  </div>

</section>